<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="yourBotService" class="org.yourbro.services.botservice.impl.YourBotService" />
    <bean id="propertyFileLoaderService" class="org.yourbro.services.fileloader.impl.PropertyFileLoaderService" />

    <bean id="application" class="org.yourbro.Application">
        <property name="botService" ref="yourBotService" />
        <property name="fileLoaderService" ref="propertyFileLoaderService" />
    </bean>

</beans>